* { box-sizing: border-box; }

.header {
  text-align: center;
  border-bottom: 1px dashed $dark-color;
  padding: 1em;
}

.header__title {
  color: $blue-color;
  text-decoration: none;
}
.header__nav {
  list-style-type: none;
  text-align: center;
  display: block;
}

.header__nav__item {
  text-transform: uppercase;
  display: inline-block;

  a {
    text-decoration: none;
  }
}


.post-list {
  margin: 0;
  list-style-type: none;
  display: block;
}

.post-list__item {
  margin: 1em 0;
  padding: 1em;
  border-bottom: 1px dashed $chalk-color;
}




.content {
  padding: 1em;
}

.footer {
  border-top: 1px dashed $blue-color;
  padding: 1em;
}
